i.material-icons, nav>ul>li {
  cursor: pointer;
  text-shadow: none;
  transition: transform .3s $ease-in-material;
}
.background-color {
  background-color: $background-color;
}
.primary-color {
  background-color: $primary-color;
}
.accent-color {
  background-color: $accent-color;
}
.success-color {
  background-color: $success-color;
}
.warning-color {
  background-color: $warning-color;
}
.danger-color {
  background-color: $danger-color;
}