// COLORS
$background-color: #1d1d1d;
$primary-color: #1e7145;
$accent-color: #2b5797;
$hover-accent-color: darken($accent-color, 5);
$danger-color: #e64a19;
$hover-danger-color: darken($danger-color, 5);
$success-color: #43a047;
$hover-success-color: darken($success-color, 5);
$warn-color: #ffc107;
$hover-warn-color: darken($warn-color, 5);
$light-border-color: #e5e5e5;
$text: #656565;
$text-secondary: #ffffff;

// DIMENSIONS
$header-height: 4rem;
$footer-height: 3rem;

// BORDERS
$thin-border: 1px solid $light-border-color;

// ELEVATIONS
$dp1: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
$search-hover: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
$normal-card: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
$normal-fab: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
$raised-fab: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);

// TRANSITIONS
$ease-in-material: cubic-bezier(.5,.23,.04,1);